@media (max-width:768px){
    .head-mock{
        text-align: center;
    }
    .list-product{
        display: block;
    }
    .product{
        height: 300px;
        width: 100%;
    }
    .product:nth-child(2),.product:last-child{
        margin-left: 0;
    }
}